.footer-container {
  padding-top: 20px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.footer-icons a {
  margin: 20px;
  text-decoration: none;
  color: black;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-nav a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 500px) {
  .footer-container {
    font-size: 10px;
  }

  .footer-icons {
    font-size: 20px;
  }
}

.facebook-icon:hover {
  color: #3A5795;
  transition: .3s;
}

.instagram-icon {
  background-color: transparent;
  padding: 5px;
  border-radius: 7px;
}

.instagram-icon:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
  color: white;
  transition: .5s;
}

.twitter-icon:hover {
  color: #00acee;
  transition: .3s;
}

.youtube-icon:hover {
  color: #FF0000;
  transition: .5s;
}