
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}

.main {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.home-page-ads {
  width: 100%;
  height: 80vh;
  background-color: #ff4f76;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

}

@media (max-width: 1424px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } 
}

@media (max-width: 975px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } 
}


.product-container {
  background-color: white;
  padding: 5px;
  margin: 5px;
  max-width: 550px;
  box-shadow: 0 0 10px #c3c3c3;
}


.cart-image {
  height: 80px;
  width: 80px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  padding: 10px;
  font-weight: bold;
}

.product-price {
  padding: 10px;
  display: inline-block;
}

.price-icons {
  display: flex;
  justify-content: space-between;
}

.add-to-cart-icon {
  font-size: 35px;
}

.add-to-cart-icon:hover {
  color: #ff4f76;
}

@media (max-width: 592px) {
  .product-name {
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
  }
  
  .product-price {
    font-size: 13px;
    padding: 10px;
  }
}


.add-to-cart-button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  padding-right: 10px;
}


@media (max-width: 592px) {
  .product-container {
    margin: 2px;
  }

  .add-to-cart-button {
    font-size: 12px;
    margin: 0%;
  }
}

.footer-container {
  padding-top: 20px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.footer-icons a {
  margin: 20px;
  text-decoration: none;
  color: black;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-nav a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 500px) {
  .footer-container {
    font-size: 10px;
  }

  .footer-icons {
    font-size: 20px;
  }
}

.cart-container  {
  position: relative;
}

.cart-quantity {
  position: absolute;
  font-size: 14px;
  top: -2px;
  left: 14px;
  color: #fff;
  background-color: rgb(20, 116, 234);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 24px;
}