header {
  background-color: #ff4f76 ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  transition: .5s;
}

header:hover {
  background-color: #fff  ;
}

header:hover ul li a {
  color: #ff4f76;
  transition: .5s;
}

header.sticky {
  background-color: #fff;
  transition: .5s;
}

header.sticky ul li a {
  color: #ff4f76;
  transition: .5s;
}

.cart-icon-outlined {
  font-size: 45px;
}

.logo {
  height: 80px;
  width: 80px;
  color: #ff8c42;
  user-select: none;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
}

.navigation {
  /*padding-top: 15px;*/
  margin-top: 15px;
}

.navigation ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navigation ul li a {
  padding: 15px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.burger-btn{
  display: none;
}

@media (max-width: 850px) {
  .burger-btn {
    display: inline-block;
  }

  .burger-btn span {
    cursor: pointer;
  }

  .navigation {
    display: none;
  }

  label input {
    appearance: none;
  }
  
}

.offcanvas-title {
  font-family: 'Poppins', sans-serif;
  color: #5b7c99;
}

.offcanvas-header {
  background-color: #cfe8ef;
}

.offcanvas-body {
  background-color: #cfe8ef;
}

.offcanvas-body a {
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  color: #5b7c99;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.offcanvas-btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
